<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>aoe wordle thingy</title>

  <link rel="icon" href="/static/res/favicon.ico" type="image/x-icon">
  <!--<script src="/static/lib/socket.io.js"></script>-->
  <!--<script src="/static/lib/player_info.js"></script>-->
  <!--<script src="/static/lib/guessed_player.js"></script>-->
  <!--<script src="/static/lib/goal_player.js"></script>-->
  <script src="/static/lib/main.js"></script>
  <!--<script src="/static/lib/theme.js"></script>-->
  <!--<script src="/static/lib/dashboard.js"></script>-->

  <!-- Atkinson Hyperlegible Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/style/style.css">
  <!--<link rel="stylesheet" href="/static/style/mobile.css">-->
</head>

<body class="font-size-medium font-medium">
    AAAAAAAAAAAAAAA
</body>
