<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>aoe wordle thingy</title>

  <link rel="icon" href="/static/res/favicon.ico" type="image/x-icon">
  <!--<script src="/static/lib/socket.io.js"></script>-->
  <!--<script src="/static/lib/player_info.js"></script>-->
  <!--<script src="/static/lib/guessed_player.js"></script>-->
  <!--<script src="/static/lib/goal_player.js"></script>-->
  <script src="/static/lib/main.js"></script>
  <!--<script src="/static/lib/theme.js"></script>-->
  <!--<script src="/static/lib/dashboard.js"></script>-->

  <!-- Atkinson Hyperlegible Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/style/style.css">
  <!--<link rel="stylesheet" href="/static/style/mobile.css">-->
</head>

<body class="font-size-medium font-large theme-light">
  <div class="header">
    <button class="header-button round">
      <img id="theme-icon" class="icon round click" src="../static/res/mode-light.svg" alt="Light theme"
        onclick="onThemeSwitch();">
    </button>
    <!--<button>-->

    <!--<img class="icon" src="../static/res/mode-light.svg" alt="Light theme">-->
    <!--</button>-->
  </div>
  <div class="about-container">

    <div class="about-panel background-blur bevel">
      <h1>Lorem Ipsum</h1>
      <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Class velit sit vel nisi fames iaculis. Vitae molestie
        proin pharetra semper venenatis hac nam nam aliquet. Velit erat elementum dictum metus bibendum habitant porta
        habitasse. Lobortis semper fermentum integer pretium mauris erat sapien dui quam. Erat fusce orci sagittis
        aliquam luctus rhoncus magnis curae. Dui sociosqu massa cursus dignissim montes?
      </p>
      <h3>Dolor Sit</h3>
      <p>
        Taciti quis facilisis in arcu neque scelerisque leo. Sagittis quis augue venenatis quisque himenaeos faucibus
        consequat placerat. Taciti a inceptos; felis potenti ullamcorper fusce vitae? Auctor curae faucibus suspendisse
        vitae, pellentesque dapibus. Parturient quis sagittis rhoncus finibus eros. Consequat faucibus vehicula ultrices
        sagittis iaculis nulla lacinia.
      </p>

      <h3>Dolor Sit</h3>
      <p>
        Congue massa libero nibh rhoncus, finibus ad urna. Integer rutrum enim bibendum dignissim maecenas suscipit
        venenatis venenatis sociosqu. Facilisi justo velit feugiat sit; dapibus donec pharetra dictum. Luctus odio
        fringilla taciti vestibulum luctus per cubilia dignissim nostra. Sapien facilisi amet sapien primis, curabitur
        nostra. Curabitur lacus elit hac, varius platea interdum. Vestibulum dapibus bibendum class arcu nam; urna
        ipsum. Curabitur dis potenti conubia convallis nascetur taciti. Non scelerisque finibus habitant interdum montes
        nascetur convallis.
      </p>

      <h3>Dolor Sit</h3>
      <p>
        Varius augue nullam ex aliquet natoque massa. Himenaeos pretium erat penatibus ultrices arcu ex. Venenatis
        mollis feugiat quisque volutpat etiam. Mus eu dignissim iaculis volutpat luctus id. Nam orci taciti pulvinar
        taciti tincidunt interdum odio. Tincidunt dolor per magna interdum hendrerit. Lobortis facilisis nec aliquam
        rutrum imperdiet purus etiam condimentum orci. Natoque orci diam et ultricies venenatis justo senectus
        fermentum. Rhoncus mollis cubilia habitant elit massa fames nulla at sem. Dapibus commodo natoque, vehicula a
        taciti amet adipiscing.
      </p>

      <h3>Dolor Sit</h3>
      <p>
        Etiam praesent nascetur fames potenti nibh tempor nam; curabitur augue. Netus aliquam euismod pulvinar fermentum
        nullam hac elementum blandit. Tempor diam tortor est; augue porttitor mattis. Faucibus primis semper magnis dui
        praesent vehicula; in nascetur vel. Elementum venenatis velit est egestas mattis vitae. Risus vulputate interdum
        inceptos ullamcorper egestas rutrum at. Dapibus class cursus mollis suscipit at arcu. Facilisis aliquet maecenas
        taciti elit scelerisque. Natoque vestibulum penatibus, sociosqu magnis risus justo. Ad posuere turpis praesent
        habitasse imperdiet duis vehicula, fringilla diam.
      </p>

      <h3>Dolor Sit</h3>
      <p>
        Condimentum mi tempor faucibus penatibus felis cras porttitor? Nec semper mattis placerat pellentesque rhoncus.
        Senectus finibus tincidunt amet natoque integer dui. Litora finibus sagittis pellentesque iaculis nam enim
        hendrerit suspendisse. Mollis ut nascetur pharetra id tempor porttitor. Aliquet erat lacinia hac habitasse ante
        quis interdum convallis. Purus nam torquent porta; per convallis dolor ad sodales vitae. Eleifend arcu dis
        quisque fusce taciti accumsan convallis.
      </p>
    </div>
  </div>
</body>
