<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>aoe wordle thingy</title>

  <link rel="icon" href="/static/res/favicon.ico" type="image/x-icon">
  <!--<script src="/static/lib/socket.io.js"></script>-->
  <!--<script src="/static/lib/player_info.js"></script>-->
  <!--<script src="/static/lib/guessed_player.js"></script>-->
  <!--<script src="/static/lib/goal_player.js"></script>-->
  <script src="/static/lib/main.js"></script>
  <!--<script src="/static/lib/theme.js"></script>-->
  <!--<script src="/static/lib/dashboard.js"></script>-->

  <!-- Atkinson Hyperlegible Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/style/style.css">
  <!--<link rel="stylesheet" href="/static/style/mobile.css">-->
</head>

<body class="font-size-medium font-large theme-light">
  <header>
    <button class="header-button round">
      <img id="theme-icon" class="icon round click" src="../static/res/mode-light.svg" alt="Light theme"
        onclick="onThemeSwitch();">
    </button>
    <!--<button>-->

    <!--<img class="icon" src="../static/res/mode-light.svg" alt="Light theme">-->
    <!--</button>-->
  </header>
  <div class="about-container">

    <div class="about-panel background-blur bevel">
      <h1>Agedle</h1>
      <p>
        Made by Termint and sieste.
      </p>
      <p>
        The project's codebase is open-source and can be found at <a
          href="https://github.com/termint0/age-wordle">https://github.com/termint0/age-wordle</a>. Feel free to
        contribute via PR or create your own forks.</p>

      <p>
        Data is up-to-date as of November 2024. Data taken from: ageofempires.com, esportsearnings.com, voobly.com,
        liquipedia.net/ageofempires. We do not warrant the accuracy or completeness of the information provided on the
        site.
      </p>

      <p>
        Age of Empires II: Definitive Edition © Microsoft Corporation. Agedle was created under Microsoft's "Game
        Content Usage Rules" using assets from Age of Empires II: Definitive Edition, and it is not endorsed by or
        affiliated with Microsoft.
      </p>

      <p>
        Some content used from liquipedia, licensed under CC BY-SA 3.0 license.
      </p>

      <p>
        No personal user data is collected on agedle.termint.me. We shall not be held responsible for any liability or
        damage arising out of or in connection with the use of this site.
      </p>

      <p>
        For inquiries about the data or content on this site, or to report concerns, please reach out at [your email].
      </p>
    </div>
  </div>
</body>
