<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>aoe wordle thingy</title>

  <link rel="icon" href="/static/res/favicon.ico" type="image/x-icon">
  <!--<script src="/static/lib/socket.io.js"></script>-->
  <script src="/static/lib/player_info.js"></script>
  <script src="/static/lib/guessed_player.js"></script>
  <script src="/static/lib/goal_player.js"></script>
  <script src="/static/lib/main.js"></script>
  <script src="/static/lib/theme.js"></script>
  <!--<script src="/static/lib/dashboard.js"></script>-->

  <!-- Atkinson Hyperlegible Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/style/style.css">
  <!--<link rel="stylesheet" href="/static/style/mobile.css">-->
</head>

<body class="font-size-medium font-medium">
  <div class="header">
    <button class="header-button round">
      <img id="theme-icon" class="icon round click" src="../static/res/mode-light.svg" alt="Light theme"
        onclick="onThemeSwitch();">
    </button>
    <!--<button>-->

    <!--<img class="icon" src="../static/res/mode-light.svg" alt="Light theme">-->
    <!--</button>-->
  </div>
  <div class="game">
    <div class="input-container">
      <input id="player-input" name="" placeholder="Input player" class="round player-input font-large"
        onchange="onPlayerInput()">
      <div id="congrats-div" class=" hidden congrats-div">
        <div class="bold font-large center">
          Congratulations
        </div>
        <div class="center">
          You guessed the player in <span id="guess-count"></span> tries!
        </div>
      </div>
    </div>
    <div class="players">

      <div class="goal-player player bevel" id="goal-player">
        <div id="goal-name" class="name font-large bold obfuscated round">
        </div>
        <div class="player-info">
          <div class="player-info-elem">
            <div class="player-info-description bold"> Age:</div>
            <div id="goal-age" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> Countries: </div>
            <div id="goal-country" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> Earnings: </div>
            <div id="goal-earnings" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> Active since:</div>
            <div id="goal-start-year" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> Active til:</div>
            <div id="goal-end-year" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> 1v1s played: </div>
            <div id="goal-played-1v1" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> TGs played: </div>
            <div id="goal-played-tg" class="player-info-value"> </div>
          </div>
          <div class="player-info-elem">
            <div class="player-info-description bold"> Teams: </div>
            <div id="goal-teams" class="player-info-value"> </div>
          </div>
        </div>
        <script>
          populateGoalPlayer();
        </script>
      </div>
      <div class="guessed-players" id="guessed-players">
      </div>
      <!--  <div id="goal-player" class="player bevel">-->
      <!--    <div id="name">-->
      <!--      TheViper-->
      <!--    </div>-->
      <!--    <div class="player-info">-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> Age </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> 33 </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description">Active since</div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> 2002</div>-->
      <!---->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> Active til </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> 2002 </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> Countries: </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> Norway </div>-->
      <!--          <div class="player-info-value-item"> Germany </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> 1v1s played: </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> 2002 </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> TGs played </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> 400 </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> Earnings </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> 350000 </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="player-info-elem">-->
      <!--        <div class="player-info-description"> Teams: </div>-->
      <!--        <div class="player-info-value">-->
      <!--          <div class="player-info-value-item"> TyRanT </div>-->
      <!--          <div class="player-info-value-item"> Team Secret </div>-->
      <!--          <div class="player-info-value-item"> GamerLegion </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
    </div>
  </div>
  </div>
  <script>
    setTheme();
    loadFromLocalStorage();
  </script>
</body>
