<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Agedle</title>

  <link rel="icon" href="/static/res/favicon.ico" type="image/x-icon">
  <!--<script src="/static/lib/socket.io.js"></script>-->
  <!--<script src="/static/lib/player_info.js"></script>-->
  <!--<script src="/static/lib/guessed_player.js"></script>-->
  <!--<script src="/static/lib/goal_player.js"></script>-->
  <script src="/static/lib/main.js"></script>
  <!--<script src="/static/lib/theme.js"></script>-->
  <!--<script src="/static/lib/dashboard.js"></script>-->

  <!-- Atkinson Hyperlegible Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/style/style.css">
  <!--<link rel="stylesheet" href="/static/style/mobile.css">-->
</head>

<body class="font-size-medium font-medium">
  <header>
    <button class="header-button round">
      <img id="info-icon" class="icon round click" src="../static/res/info.svg" alt="Info" onclick="onInfoClick();">
    </button>
    <button class="header-button round">
      <img id="theme-icon" class="icon round click" src="../static/res/mode-light.svg" alt="Light theme"
        onclick="onThemeSwitch();">
    </button>
  </header>
  <div id="modal-prompt" class="hidden modal background-blur">
    <div class="confirm-popup bevel background-blur">
      <!--<div class="font-large bold">-->
      <!--  Do you really want to give up?-->
      <!--</div>-->
      <div id="prompt-text" class="font-medium">
        You won't have a chance to guess until tomorrow!
      </div>
      <div class="button-row">
        <button id="prompt-no" class="prompt-button round click">Keep Trying</button>
        <button id="prompt-yes" class="prompt-button round click">Give up</button>
      </div>
    </div>
  </div>
  <div id="modal-info" class="hidden modal background-blur">
    <div class="confirm-popup bevel background-blur">
      <!--<div class="font-large bold">-->
      <!--  Do you really want to give up?-->
      <!--</div>-->
      <div id="info-text" class="info-text font-medium">
        You won't have a chance to guess until tomorrow!
      </div>
      <div class="button-row">
        <button id="info-close" class="prompt-button round click">Keep Trying</button>
      </div>
    </div>
  </div>
  <div class="game">
    <div id="input-container" class="input-container">
      <input id="player-input" name="" placeholder="Input player" class="round player-input font-large background-blur"
        onchange="onPlayerInput()">
      <div class="button-row">
        <button class="input-button bevel font-small click background-blur" onclick="onGiveUpClick();">Give up</button>
        <button class="input-button bevel font-small click background-blur" onclick="onHintClick();">Hint</button>
      </div>
    </div>
    <div id="congrats-div" class="hidden congrats-div bevel background-blur">
      <div class="bold font-large center">
        Congratulations!
      </div>
      <div class="center">
        You guessed the player in <span id="guess-count"></span>!
      </div>
    </div>
    <div id="give-up-div" class="hidden congrats-div bevel background-blur">
      <div class="bold font-large center">
        Too bad!
      </div>
      <div class="center">
        Come back tomorrow to try again!
      </div>
    </div>
    <div class="players">

      <div class="goal-player player background-blur" id="goal-player">

        <div class="player-div-piece">
          <div class="player-div-piece-description">

            <div id="goal-name" class="name font-large bold obfuscated round center">
            </div>
          </div>
          <div class="player-info-group">
            <div class="player-info-elem">
              <div class="player-info-description bold"> Age:</div>
              <div id="goal-age" class="player-info-value"> </div>
            </div>
            <div class="player-info-elem">
              <div class="player-info-description bold"> Countries: </div>
              <div id="goal-country" class="player-info-value"> </div>
            </div>
            <div class="player-info-elem">
              <div class="player-info-description bold"> Earnings: </div>
              <div id="goal-earnings" class="player-info-value"> </div>
            </div>
          </div>
        </div>

        <div class="player-div-piece">
          <div class="font-medium player-div-piece-description">
            Active:
          </div>
          <div class="player-info-group">
            <div class="player-info-elem">
              <div class="player-info-description bold">Since:</div>
              <div id="goal-start-year" class="player-info-value"> </div>
            </div>
            <div class="player-info-elem">
              <div class="player-info-description bold">Til:</div>
              <div id="goal-end-year" class="player-info-value"> </div>
            </div>
          </div>
        </div>

        <div class="player-div-piece">
          <div class="font-medium player-div-piece-description">
            Game Stats:
          </div>
          <div class="player-info-group">
            <div class="player-info-elem">
              <div class="player-info-description bold"> 1v1s played: </div>
              <div id="goal-played-1v1" class="player-info-value"> </div>
            </div>
            <div class="player-info-elem">
              <div class="player-info-description bold"> TGs played: </div>
              <div id="goal-played-tg" class="player-info-value"> </div>
            </div>
            <div class="player-info-elem">
              <div class="player-info-description bold"> Voobly ELO: </div>
              <div id="goal-voobly-elo" class="player-info-value"> </div>
            </div>
          </div>
        </div>

        <div class="player-div-piece">
          <div class="font-medium player-div-piece-description">
            Teams:
          </div>
          <div class="player-info-group">
            <div class="player-info-elem">
              <div class="player-info-description bold"></div>
              <div id="goal-teams" class="player-info-value"> </div>
            </div>
          </div>
        </div>
        <script>
          populateGoalPlayer();
        </script>
      </div>
      <div class="guessed-players" id="guessed-players">
      </div>
    </div>
  </div>
  <script>
    setTheme();
    onFirstLoad();
    loadFromLocalStorage();
  </script>
  <template id="info-template">
    <h>Info</h>
    <p>
      The goal of the game is to discover the name of a mystery top player from the Age of Empires 2 community, in as
      few attempts as possible. Every day at 04:00 UTC, a new player is selected.
    </p>

    <p>
      You play by typing names of players. For each player name you enter, the game will show you which
      characteristics
      your guessed player has in common with the mystery player, out of: Age, country, total prize money earned,
      activity span, number of 1v1 and TG games played on the DE ranked ladder, highest Elo achieved on voobly, and
      team
      history. You win once you found the mystery player, and you can comeback the next day for a new attempt.
    </p>
    <a href="/about">More info & Privacy policy</a>
  </template>
</body>
